.Wrap {
    position: relative;
    max-width: 1920px;
    overflow: hidden;
    background: #Fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 100px;
    color: #fff;
    font-size: 19px;
    z-index: 999;
}

header .container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav>* {
    flex: 1;
}

header nav ul {
    display: flex;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    gap: 40px;
}

header nav>ul.right {
    justify-content: flex-end;
}

header .mbtn {
    visibility: hidden;
}

.main_visual {
    position: relative;
    height: 100vh;
    margin: 0px 0 0 -500px;
    background: url(../img/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .slogan {
    position: absolute;
    width: 1200px;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.main_visual h2 {
    font-size: 40px;
    font-weight: 500;
    color: #734D50;
    line-height: 1.8em;
}

.main_visual p {
    font-size: 20px;
    font-weight: 300;
    color: #734D50;
    line-height: 1.3em;
}

.main_visual .wheel {
    position: absolute;
    bottom: 40px;
    left: 60%;
    transform: translateX(-50%);
    width: 30px;
    height: 55px;
    border: 2px solid #fff;
    border-radius: 15px;
    font-size: 0;
}

.main_visual .wheel span {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 10px;
    background: #fff;
    border-radius: 1px;
    animation: wheel 0.9s infinite;
}

@keyframes wheel {
    to {
        top: 13px;
    }
}



.main_title {
    padding: 150px 0;
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
}

.main_title_video {
    margin-bottom: 300px;
}

/* .main_title_video::after{
      content: "";
    display: block;
    width: 1200px;
    border: 1px solid #ddd;
    margin: 100px auto 0 auto;
} */

.main_title_video .container {
    padding: 350px 0;
    margin: 0 auto;
    border-top: solid 2px rgb(144, 96, 100);
    border-bottom: solid 2px rgb(144, 96, 100);
    text-align: center;
    color: #fff
}

/* .main_product_handmade {
    padding: 200px 0;
    width: 1920px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.main_product_handmade p{
    font-size: 21px;
}

.main_product_handmade::after {
    content: "";
    display: block;
    width: 1920px;
    border: 1px solid #ddd;
    margin: 200px 0 0 0;
} */

.main_idea_sketch {
    padding: 300px 0;
    width: 1200px;
    margin: 0 auto;
    border-top: solid 2px rgb(144, 96, 100);
    border-bottom: solid 2px rgb(144, 96, 100);
    text-align: center;
    color: #fff
}

.main_idea_sketch h2 {
    font-size: 25px;
    font-weight: 500;
    top: -370px;
    color: #333;
}

.main_idea_sketch p {
    font-size: 17px;
    font-weight: 300;
    top: 420px;
    color: #333;
}



.main_product_line::before {
    content: "";
    display: block;
    width: 1200px;
    border: 1px solid #ddd;
    margin: 100px 0 100px 0;
}

.main_product_line::after {
    content: "";
    display: block;
    width: 1200px;
    border: 1px solid #ddd;
    margin: 100px 0 0 0;
}

.main_product_line {
    padding: 100px 0;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}

.main_product_line h2 {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: 100px;
}

.main_product_line .container {
    display: flex;
    gap: 40px;
    margin-bottom: 70px;
}

.main_product_line .container .product {
    padding: 10px;
    border: 2px solid #ddd;
}

.main_product_line figure {
    margin-bottom: 20px;
}

.main_product_line h3 {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 10px;
}

/* .main_product_line h3::after{
    content: '';
    display: block;
    width: auto;

    border-bottom: 1px solid #ddd;
    padding: 10px 0 0 0
} */
.main_product_line p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 10px;
}





.main_product_lineup {
    padding: 0 0 100px 0;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.main_product_lineup::after {
    content: "";
    display: block;
    width: 1200px;
    border: 1px solid #ddd;
    margin: 100px 0 0 0;
}

.main_product_lineup h2 {
    font-size: 27px;
    font-weight: 500;
    line-height: 1.5em;
    padding: 0 0 50px 0;
}

.main_product_lineup .container {
    text-align: center;
}

.main_product_lineup .container .slide {
    display: flex;
    border: 1px solid #ddd;
}

.main_product_lineup .container img {
    flex-grow: 4;
}


.main_product_lineup .container .text {
    flex-grow: 1;
    padding-top: 220px;


}

.main_product_lineup .container h3 {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.main_product_lineup .container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3em;
}

.main_product_lineup .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    font-size: 0;
    border: none;
    background: transparent;

    width: 50px;
    height: 50px;
    border-top: 2px solid rgb(144, 96, 100);
    border-left: 2px solid rgb(144, 96, 100);
    opacity: 0.3;
    transition: 0.3s;
}

.main_product_lineup .slick-arrow:hover {
    opacity: 1;
    transition: border 0.5s;
}

.main_product_lineup .slick-prev {
    margin: 0 0 0 -700px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.main_product_lineup .slick-next {
    margin: 0 0 0 700px;
    transform: translate(-50%, -50%) rotate(135deg);
}

.main_bottom_banner {
    padding: 0 0 100px 0;
    text-align: center;

}

.main_bottom_banner .container {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    gap: 40px;
}

.main_bottom_banner .left {
    padding: 10px;
    border: 1px solid #ddd;
}

.main_bottom_banner .right {
    padding: 10px;
    border: 1px solid #ddd;
}

.main_bottom_banner figure {
    margin-bottom: 20px;
}

.main_bottom_banner h2 {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.5em;
}

.main_bottom_banner p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 10px;
}


footer {
    background: #f5f5f5;
    padding: 100px 0;
}

footer .container {
    text-align: center;
}

footer .container .logo {
    margin: 0 0 30px 0;
}

footer .container ul li {
    display: inline-block;
    padding: 0 20px;
    margin: 0 0 50px 0;
    font-size: 17px;
    font-weight: 500;
}

footer .container .sns {
    margin: 0 0 30px 0;
}

footer .container i {
    font-size: 30px;
    padding: 0 10px;
}

footer .container .copyright {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.3;
}




/* 반응형 만들기 */

@media(max-width:768px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        line-height: 100px;
        color: #fff;
        font-size: 19px;
        z-index: 999;
    }

    header .container {
        width: auto;
        margin: 0 auto;
        text-align: center;
        line-height: 100px;
    }

    /* 추가시작---------------------------------------------------*/

    header h1 {
        position: static;
        top: 0;
        left: 0;
    }

    header .left {
        position: fixed;
        top: 0;
        left: -100%;
        background: #fff;
        border-right: 1px solid #ddd;
        width: calc(100% - 90px);
        height: 100vh;
        padding: 100px 15px 0 15px;
        z-index: 999;
    }

    header .left.on {
        left: 0;
    }

    header .right {
        position: fixed;
        top: 320px;
        left: -100%;
        background: #fff;
        border-right: 1px solid #ddd;
        width: calc(100% - 90px);
        height: 200px;
        padding: 0px 15px 0 15px;
        z-index: 999;
    }

    header .right.on {
        left: 0;
    }

    /* 추가끝---------------------------------------------------------- */

    header nav {
        display: flex;
        justify-content: space-between;
    }

    /* 추가 시작-------------------------------------------------------------*/
    header nav>ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        line-height: 35px;
    }

    header .mbtn {
        position: fixed;
        visibility: visible;
        top: 30px;
        right: 30px;
        display: block;
        padding: 5px;
        background: #f1f1f1;
        border-radius: 5px;
        font-size: 23px;
        line-height: 1;
        z-index: 1000;
        color: #333;
    }

    /* 추가 끝 ---------------------------------------------------------*/
    header nav>* {
        flex: 1;
    }

    header nav ul {
        display: flex;
        color: #333;
        font-size: 15px;
        font-weight: 500;
        gap: 40px;
    }

    header nav>ul.right {
        justify-content: flex-end;
    }

    /* 수정시작----------------------------- */
    .main_visual {
        position: relative;
        height: 100vh;
        margin: 0 auto;
        background: url(../img/main_visual01.jpg) no-repeat center center/cover;
    }

    .main_visual .slogan {
        position: absolute;
        width: auto;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    }

    .main_visual h2 {
        font-size: 30px;
        font-weight: 500;
        color: #734D50;
        line-height: 1.8em;
    }

    .main_visual p {
        font-size: 14px;
        font-weight: 300;
        color: #734D50;
        line-height: 1.3em;
    }

    .main_visual .wheel {
        left: 50%
    }


    .main_title {
        padding: 150px 40px;
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
    }

    /* 수정완료--------------------------- */
    .main_title_video {
        margin-bottom: 300px;
    }

    /* .main_title_video::after{
          content: "";
        display: block;
        width: 1200px;
        border: 1px solid #ddd;
        margin: 100px auto 0 auto;
    } */

    .main_title_video .container {
        width: 95%;
        margin: 0 auto;
        border: solid 2px rgb(144, 96, 100);
        text-align: center;
        color: #fff
    }

    /* .main_product_handmade {
        padding: 200px 0;
        width: 1920px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .main_product_handmade p{
        font-size: 21px;
    }
    
    .main_product_handmade::after {
        content: "";
        display: block;
        width: 1920px;
        border: 1px solid #ddd;
        margin: 200px 0 0 0;
    } */

    .main_idea_sketch {
        padding: 300px 0;
        width: 95%;
        margin: 0 auto;
        border-top: solid 2px rgb(144, 96, 100);
        border-left: solid 2px rgb(144, 96, 100);
        border-right: solid 2px rgb(144, 96, 100);
        border-bottom: solid 2px rgb(144, 96, 100);
        text-align: center;
        color: #fff
    }

    .main_idea_sketch h2 {
        font-size: 21px;
        font-weight: 500;
        top: -370px;
        color: #333;
    }

    .main_idea_sketch p {
        font-size: 15px;
        font-weight: 300;
        top: 420px;
        color: #333;
    }

    .main_product_line::before {
        content: "";
        display: block;
        width: auto;
        border: 1px solid #ddd;
        margin: 100px 0;
    }

    .main_product_line::after {
        content: "";
        display: block;
        width: auto;
        border: 1px solid #ddd;
        margin: 100px 0 0 0;
    }

    .main_product_line {
        padding: 100px 0;
        text-align: center;
        width: auto;
        margin: 0 auto;
    }

    .main_product_line h2 {
        padding: 0 10%;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.3em;
        margin-bottom: 40px;
    }

    .main_product_line .top {
        display: flex;
        gap: 40px;
        margin-bottom: 0px;
        flex-direction: column;
        padding: 0 10% 0 10%;
    }

    .main_product_line .bottom {
        display: flex;
        gap: 40px;
        margin-bottom: 70px;
        flex-direction: column;
        padding: 10%;
    }

    .main_product_line .container .product {
        padding: 10px;
        border: 2px solid #ddd;
    }

    .main_product_line figure {
        margin-bottom: 20px;
    }

    .main_product_line h3 {
        font-size: 17px;
        font-weight: 400;
        line-height: 1.3em;
        margin-bottom: 10px;
    }

    /* .main_product_line h3::after{
        content: '';
        display: block;
        width: auto;
    
        border-bottom: 1px solid #ddd;
        padding: 10px 0 0 0
    } */
    .main_product_line p {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.3em;
        margin-bottom: 10px;
    }

    .main_product_lineup {
        padding: 0 0 100px 0;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }

    .main_product_lineup::after {
        content: "";
        display: block;
        width: auto;
        border: 1px solid #ddd;
        margin: 100px 0 0 0;
    }

    .main_product_lineup h2 {
        font-size: 21px;
        font-weight: 500;
        line-height: 1.5em;
        padding: 0 10% 0 10%;
    }

    .main_product_lineup .container {
        text-align: center;
        padding: 10%;
    }

    .main_product_lineup .container .slide {
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
    }

    .main_product_lineup .container img {
        flex-grow: 4;
    }


    .main_product_lineup .container .text {
        flex-grow: 1;
        padding: 30px;
    }

    .main_product_lineup .container h3 {
        font-size: 21px;
        font-weight: 400;
        line-height: 1.5em;
        margin-bottom: 20px;
    }

    .main_product_lineup .container p {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.3em;
    }

    .main_product_lineup .slick-arrow {
        position: absolute;
        top: 40%;
        left: 50%;
        z-index: 999;
        font-size: 0;
        border: none;
        background: transparent;
        width: 30px;
        height: 30px;
        border-top: 2px solid rgb(144, 96, 100);
        border-left: 2px solid rgb(144, 96, 100);
        opacity: 0.3;
        transition: 0.3s;
    }

    .main_product_lineup .slick-arrow:hover {
        opacity: 1;
        transition: border 0.5s;
    }

    .main_product_lineup .slick-prev {
        margin: 0 0 0 -43%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .main_product_lineup .slick-next {
        margin: 0 0 0 43%;
        transform: translate(-50%, -50%) rotate(135deg);
    }

    .main_bottom_banner {
        padding: 0 10% 100px 10%;
        text-align: center;

    }

    .main_bottom_banner .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: auto;
        gap: 40px;
    }

    .main_bottom_banner .left {
        padding: 10px;
        border: 1px solid #ddd;
    }

    .main_bottom_banner .right {
        padding: 10px;
        border: 1px solid #ddd;
    }

    .main_bottom_banner figure {
        margin-bottom: 20px;
    }

    .main_bottom_banner h2 {
        font-size: 21px;
        font-weight: 500;
        line-height: 1.5em;
    }

    .main_bottom_banner p {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 10px;
    }


    footer {
        background: #f5f5f5;
        padding: 100px 0;
    }

    footer .container {
        text-align: center;
    }

    footer .container .logo {
        margin: 0 0 30px 0;
    }

    footer .container ul li {
        display: inline-block;
        padding: 0 5%;
        margin: 0 0 50px 0;
        font-size: 17px;
        font-weight: 500;
    }

    footer .container .sns {
        margin: 0 0 30px 0;
    }

    footer .container i {
        font-size: 30px;
        padding: 0 10px;
    }

    footer .container .copyright {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;
    }
}